services:
  blog:
    image: httpd:alpine
    container_name: blog
    restart: unless-stopped
    networks:
      - proxy_network
    volumes:
      - ~/blog:/usr/local/apache2/htdocs
      - ~/blog:/usr/local/apache2/htdocs:ro

networks:
  proxy_network:
    external: true